CODE/flows.json
[{"id":"d8e8a670.43d0c8","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"199a21dc.c89bce","type":"watson-speech-to-text","z":"d8e8a670.43d0c8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"pXBiwFjCoU29n0d3TvDhRqPo9weMIFPUnSvsDKtfLgi-","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/21a58341-a201-46f0-85d3-8c6dc5ac3e3d","x":300,"y":200,"wires":[["db3f6ae1.e5cce8"]]},{"id":"e8312052.9f5d6","type":"debug","z":"d8e8a670.43d0c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"db3f6ae1.e5cce8","type":"watson-conversation-v1","z":"d8e8a670.43d0c8","name":"","workspaceid":"cd914f5f-7584-4ee7-9b0b-861412108349","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/59a6b122-d4bf-440a-bb89-13e896ea169a","timeout":"","optout-learning":false,"x":356.00002670288086,"y":281.00000190734863,"wires":[["e8312052.9f5d6","a13b578a.7b1c68"]]},{"id":"a570827b.9d0ac","type":"ui_text","z":"d8e8a670.43d0c8","group":"495352a2.10b79c","order":2,"width":"11","height":"3","name":"","label":"Response","format":"{{msg.payload}}","layout":"row-spread","x":1203.6000595092773,"y":318.2000026702881,"wires":[]},{"id":"d11e195e.d27f78","type":"inject","z":"d8e8a670.43d0c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":122.60002136230469,"y":235,"wires":[["db3f6ae1.e5cce8"]]},{"id":"196658da.f88d97","type":"function","z":"d8e8a670.43d0c8","name":"Text response parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.text;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.text[i]\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":751.600170135498,"y":331.0000009536743,"wires":[["a570827b.9d0ac","cff20cdb.321ef","31813908.f1f456","6ffa566c.0cb528"]]},{"id":"deb9762d.a3eda8","type":"ui_form","z":"d8e8a670.43d0c8","name":"","label":"","group":"cc656de8.1f2e4","order":1,"width":0,"height":0,"options":[{"label":"user","value":"user","type":"text","required":false,"rows":null}],"formValue":{"user":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":115.00000381469727,"y":269.0000009536743,"wires":[["f6770263.5a279"]]},{"id":"f6770263.5a279","type":"function","z":"d8e8a670.43d0c8","name":"Input","func":"msg.payload= msg.payload.user\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":158.5999984741211,"y":345.00000190734863,"wires":[["db3f6ae1.e5cce8"]]},{"id":"e4e29998.751078","type":"http request","z":"d8e8a670.43d0c8","name":"","method":"use","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1028.999927520752,"y":200.00000190734863,"wires":[["b5c7a84.4121158"]]},{"id":"d43e5b01.dbbca8","type":"ui_template","z":"d8e8a670.43d0c8","group":"495352a2.10b79c","name":"Display image","order":3,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1379.3643760681152,"y":198.99999809265137,"wires":[[]]},{"id":"a13b578a.7b1c68","type":"switch","z":"d8e8a670.43d0c8","name":"","property":"payload.output.generic[0].response_type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":571.3999671936035,"y":281,"wires":[["34802ed.97218d2"],["96bc1af5.2e8b08"],["196658da.f88d97"]]},{"id":"34802ed.97218d2","type":"function","z":"d8e8a670.43d0c8","name":"Image parser for Image Output","func":"msg={\n    \"url\":msg.payload.output.generic[0].source,\n    \"method\":\"GET\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":773.0000648498535,"y":198.99999809265137,"wires":[["e4e29998.751078","232cc3e0.0a2a3c"]]},{"id":"cff20cdb.321ef","type":"function","z":"d8e8a670.43d0c8","name":"Image Reset","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1322.2002143859863,"y":379.00001335144043,"wires":[["d43e5b01.dbbca8"]]},{"id":"232cc3e0.0a2a3c","type":"function","z":"d8e8a670.43d0c8","name":"Reset Text Box","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1044.200122833252,"y":249.0000057220459,"wires":[["a570827b.9d0ac"]]},{"id":"96bc1af5.2e8b08","type":"function","z":"d8e8a670.43d0c8","name":"Options Parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.generic[0].options;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.generic[0].options[i].label\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":748.6000671386719,"y":270.3999996185303,"wires":[["a570827b.9d0ac","31813908.f1f456"]]},{"id":"31813908.f1f456","type":"watson-text-to-speech","z":"d8e8a670.43d0c8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_OliviaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"P9IhzEphAHt-cRD3X7FoNSOQIzV-42BywgKeLalsSIxe","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/c8a6c0e8-b8ab-46ad-b8e2-3b8bdcbfb5c9","x":936.2000198364258,"y":644.000006198883,"wires":[["6bc5159a.8506cc"]]},{"id":"6bc5159a.8506cc","type":"ui_audio","z":"d8e8a670.43d0c8","name":"","group":"1877637a.9847ed","voice":"","always":"","x":989.4000129699707,"y":698.000002861023,"wires":[]},{"id":"6ffa566c.0cb528","type":"watson-translator","z":"d8e8a670.43d0c8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"3nAtdyxZkSwJRRDK8d5LnOi9UNPF69kA0S97NSoi75HA","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/0377b1a0-0863-44d8-9fb8-d5de3db1cf4e","x":1235.000015258789,"y":478.00000190734863,"wires":[["5968c4bb.55a1cc"]]},{"id":"5968c4bb.55a1cc","type":"debug","z":"d8e8a670.43d0c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1539.6001167297363,"y":480.00000286102295,"wires":[]},{"id":"7eef014.7b4a4","type":"ui_microphone","z":"d8e8a670.43d0c8","group":"1877637a.9847ed","order":3,"width":0,"height":0,"name":"","maxLength":5,"timeslice":0,"x":70,"y":160,"wires":[["199a21dc.c89bce"]]},{"id":"b5c7a84.4121158","type":"base64","z":"d8e8a670.43d0c8","name":"Encode","action":"","property":"payload","x":1190,"y":180,"wires":[["d43e5b01.dbbca8"]]},{"id":"495352a2.10b79c","type":"ui_group","z":"","name":"SPEAK","tab":"2c83e754.3eb188","order":3,"disp":true,"width":"11","collapse":false},{"id":"cc656de8.1f2e4","type":"ui_group","z":"","name":"","tab":"2c83e754.3eb188","order":1,"disp":true,"width":"11","collapse":false},{"id":"1877637a.9847ed","type":"ui_group","z":"","name":"","tab":"3116c40d.1ce15c","order":3,"disp":true,"width":"11","collapse":false},{"id":"2c83e754.3eb188","type":"ui_tab","z":"","name":"Restaurant Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"3116c40d.1ce15c","type":"ui_tab","z":"","name":"Restaurant Bot","icon":"dashboard","disabled":false,"hidden":false}]